<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="DNN6ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\DNN6.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="EmployeeDBConnectionString" connectionString="Data Source=HUYNHNGUYEN-PC\SQLEXPRESS;Initial Catalog=EmployeeDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EmployeeDBConnectionString1" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\EmployeeDB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
        <add name="EmployeeDBConnectionString2" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\EmployeeDB.mdf;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <customBinding>
                <binding name="SilverlightBookDemo2.Web.Service1.customBinding0">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="SilverlightBookDemo2.Web.Service2.customBinding0">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="SilverlightBookDemo2.Web.ServiceDNN.customBinding0">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="SilverlightBookDemo2.Web.ServiceDNN2.customBinding0">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
                <binding name="SilverlightBookDemo2.Web.ServiceDNN3.customBinding0">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="SilverlightBookDemo2.Web.Service1">
                <endpoint address="" binding="customBinding" bindingConfiguration="SilverlightBookDemo2.Web.Service1.customBinding0"
                    contract="SilverlightBookDemo2.Web.Service1" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
            <service name="SilverlightBookDemo2.Web.Service2">
                <endpoint address="" binding="customBinding" bindingConfiguration="SilverlightBookDemo2.Web.Service2.customBinding0"
                    contract="SilverlightBookDemo2.Web.Service2" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
            <service name="SilverlightBookDemo2.Web.ServiceDNN">
                <endpoint address="" binding="customBinding" bindingConfiguration="SilverlightBookDemo2.Web.ServiceDNN.customBinding0"
                    contract="SilverlightBookDemo2.Web.ServiceDNN" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
            <service name="SilverlightBookDemo2.Web.ServiceDNN2">
                <endpoint address="" binding="customBinding" bindingConfiguration="SilverlightBookDemo2.Web.ServiceDNN2.customBinding0"
                    contract="SilverlightBookDemo2.Web.ServiceDNN2" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
            <service name="SilverlightBookDemo2.Web.ServiceDNN3">
                <endpoint address="" binding="customBinding" bindingConfiguration="SilverlightBookDemo2.Web.ServiceDNN3.customBinding0"
                    contract="SilverlightBookDemo2.Web.ServiceDNN3" />
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
